.project-body { margin-top: 0px; }
.modal-body img { text-align:center;display:block;margin-left:auto;margin-right:auto;}
.pic-preview img { width:260px;height:auto;}
.pic-preview img.horizontal { width:520px;height:auto;}